/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

.home {
  background: #f5f5f5;
  border-bottom: 2px solid #ccc;
  background-image: url('Image/background/background_first.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.expertise-skills {
  background: #333;
  color: #fff;
  padding: 40px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px; 
}
.content-wrapper {
  display: flex;
  flex-direction: column; /* Stacks content vertically */
  align-items: center; /* Centers content horizontally */
  gap: 30px; /* Adds spacing between sections */
}

.image-and-about-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  justify-content: center; /* Centers the content horizontally */
  gap: 10px; /* Spacing between image and about sections */
  width: 100%;
}

.image-section {
  flex: 1;
  max-width: 40%; /* Adjust image width */
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 100%;
  max-width: 400px; /* Control the maximum size of the profile image */
  border-radius: 10px;
}

.about-me-section {
  flex: 2;
  max-width: 60%; /* Adjust about section width */
  text-align: left;
  padding: 0 20px;
}
header h1 {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
}

header h2 {
  font-family: "Roboto Condensed", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: black;
}
.arrow {
  position: absolute;
  top: 23%; /* Center vertically */
  left: 35%; /* Center horizontally */
  transform: translate(-50%, -50%) rotate(-20deg); /* Adjust rotation */
  width: 150px;
  height: 100px;
  background: url('Image/assetes/bend-arrow_new.png') no-repeat center;
  background-size: contain;
  z-index: 10; /* Ensure it appears above other elements */
}

.highlight{
  position: relative;
  z-index: 0;
}

.highlight::before {
  content: "";
  display: block;
  width: 200px;
  height: 25px;
  background: #d4f906;
  position: absolute;
  top: 14px;
  right: -2px;
  z-index: -1;
}

.about-heading{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem; 
  font-weight: 400; 
  color: #000; 
  text-align: left; 
}
.services {
  display: flex;
  justify-content: center; /* Center the buttons */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
  margin-bottom: 30px; /* Space between services and above content */
}

.services button {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.services button:hover {
  background: #000;
  color: #fff;
}

/* Expertise & Skills Section */
.expertise-skills{
  background-image: url('Image/background/background_second.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.main-title {
  font-family: Georgia, serif;
  font-size: 4rem;
  color: #d4f906;
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: 60px;
}


.subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: #f9f9f9;
  padding-top: 20px;
  position: relative;
  display: inline-block;
  top: 40px;
  left: -30px;
}

.skills-section,
.details-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}

.column {
  flex: 1;
  text-align: left;
  margin-left: 60px;
}

h2 {
  font-family: Georgia, serif;
  font-size: 2.3rem;
  color: #d4f906;
}

ul {
  list-style: none;
}

li {
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: #ddd;
  text-align: left;
}
li span{
  font-size: 15px;
}
.info{
  color: #d4f906;
}

.qr-code {
  display: flex;
  width: 300px;
  height: 200px;
}
/* Work For Section */
.work-for {
  padding: 2rem;
  position: relative;
  background-image: url('Image/background/background_first.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.work-for-content {
  margin-top: 20px;
  margin-bottom: 80px;
}

.work-for h2 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: black;
  font-family: Georgia, serif;
  margin-left: 60px;
  text-align: left;
  display: inline-block;
  position: relative;
}

.work-subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #000;
  text-align: left;
  position: relative;
  display: inline-block;
  top: 15px; 
  left: 5px; 
}

.work-for .description {
  position: absolute;
    top: 80px;
    right: 60px;
    font-size: 1.45rem;
    font-weight: 400;
    text-align: right;
    width: 300px;
}

.arrow-icon {
  width: 100px; 
  height: auto;
  margin-right: 5px; 
}

.work-for .description span {
  font-size: 1.25rem;
  font-family: Georgia, serif;
  font-weight: 400;
  display: block; 
  margin-bottom: 20px;
  position: absolute;
  top:20px;
  left:50px;
}

.clients {
  display: flex;
  flex-wrap: wrap; /* Ensures the items wrap to the next row */
  justify-content: center; /* Center-align the logos horizontally */
  gap: 2rem; /* Adjust spacing between items */
  margin: 50px;
}

.clients img {
  flex: 0 1 calc(33.33% - 2rem); /* Default: 6 logos per row */
  max-width: 200px; /* Limit the maximum width of each logo */
  height: 200px; /* Maintain aspect ratio */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.clients img:nth-child(4) {
  flex: 0 1 calc(25% - 2rem); /* Make the first logo larger */
  max-width: 250px; 
}

/* Social Media Section */
.social-media_01 {
  padding: 2rem;
  position: relative;
  background-image: url('Image/background/background_second.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
.social-media_02 {
  padding: 2rem;
  position: relative;
  background-image: url('Image/background/background_first.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
.social-media-heading h2 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family:'Dancing Script', cursive;
  margin-left: 60px;
  text-align: left;
  display: inline-block;
  position: relative;
}

.social-media-heading-subtitle {
  font-family: Georgia, serif;
    font-size: 4rem;
    color: #d4f906;
    text-align: left;
    position: relative;
    display: inline-block;
    top: 60px;
    left: -35px;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card {
  overflow: hidden;
}

.card img {
  width: 75%;
  margin: 25px 125px;
  display: block;
}

.card-Title {
  font-family: Georgia, serif;
  text-align: left;
  margin-left: 40px;
  color: #d4f906;
  font-size: 1.25rem;
}
.card-Title span {
  color: #fff;
}

.client-description {
  /*position: sticky;*/
  top: -15px;
  right: 60px;
  font-size: 1.45rem;
  font-weight: 400;
  text-align: right;
  width: 165px;
}

.client-arrow-icon {
  width: 100px;
  height: auto;
  transform: rotateY(175deg);
}

/* Mail Marketing Section */
.mail-marketing {
  padding: 2rem;
  position: relative;
  background-image: url('Image/background/background_second.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.mail-marketing-heading h2 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family:'Dancing Script', cursive;
  margin-left: 60px;
  text-align: left;
  display: inline-block;
  position: relative;
}

.mail-marketing-subtitle {
  font-family: Georgia, serif;
    font-size: 4rem;
    color: #d4f906;
    text-align: left;
    position: relative;
    display: inline-block;
    top: 50px;
    left: -35px;
}
.card_05_img{
  margin-top: 30px;
}

/** logo Design Section */
.logo-design {
  padding: 2rem;
  position: relative;
  background-image: url('Image/background/background_first.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.logo-design-heading h2 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: #000;
  font-family:'Dancing Script', cursive;
  margin-left: 60px;
  text-align: left;
  display: inline-block;
  position: relative;
}

.logo-design-subtitle {
  font-family: Georgia, serif;
    font-size: 4rem;
    color: #d4f906;
    text-align: left;
    position: relative;
    display: inline-block;
    top: 60px;
    left: -35px;
}

.logo-design-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
  flex: 1; 
  font-size: 16px;
  line-height: 1.5;
}

.logo-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-img img {
  max-width: 100%;
  height: auto;
}

.color-palette {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.color-box {
  width: 50px;
  height: 50px;
}

.color-box.orange {
  background-color: #fd4303;
}

.color-box.black {
  background-color: #000000;
}

.color-box.blue {
  background-color: #0d1347;
}

.color-box.red {
  background-color: #d92e08;
}

.color-box.yellow {
  background-color: #ceae07;
}

/*footer*/
.footer{
  padding: 2rem;
  position: relative;
  background-image: url('Image/background/background_second.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
.footer-content h2 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-family:'Dancing Script', cursive;
  margin-left: 60px;
  text-align: left;
  display: inline-block;
  position: relative;
}

.footer-subtitle {
  font-family: Georgia, serif;
    font-size: 4rem;
    color: #d4f906;
    text-align: left;
    position: relative;
    display: inline-block;
    top: 60px;
    left: -35px;
}

@media (min-width: 1920px) {
  .clients img {
    flex: 0 1 calc(30% - 3rem); /* 6 logos per row */
  }
}

@media (min-width: 1441px) and (max-width: 1919px) {
  .clients img {
    flex: 0 1 calc(16.66% - 2rem); /* 6 logos per row */
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .clients img {
    flex: 0 1 calc(30% - 2rem); /* 3 logos per row */
  }
  .skills-section, .details-section {
    margin-right: 30px;
  }
  .arrow {
    top: 18%;
    width: 120px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .arrow{
    display: none;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 3rem; 
  }
  header h2 {
    font-size: 1.8rem;
  }
  .arrow {
    display: none;
 }
 .subtitle {
    left: 250px;
    padding-top: 0px;
    top:0px;
 }
 .skills-section, .details-section {
  margin-right: 30px;
  gap: 0px;
 }
 .card_01_img{
  margin-top: 20px;
  content: url('Image/Social media/social_media_sahara_medium.png');
}
.card_03_img{
  margin-top: 15px;
  margin-bottom: 10px;
  content: url('Image/Social media/Social_media_kaya_medium.png');
}
.client-arrow-icon {
  display: none;
}
.client-description {
  font-family: Georgia, serif;
  position: absolute;
  top: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.highlight::before {
  width: 184px;
  height: 19px;
}
}

@media (max-width: 480px) {
  .home {
    padding: 20px; 
    text-align: center; 
  }

  header h1 {
    font-size: 3.5rem;
  }

  header h2 {
    font-size: 2rem; 
    margin-bottom: 20px; 
    width: 300px;
    text-align: left;
  }

  .image-and-about-wrapper {
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
  }

  .image-section {
    width: 100%; 
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .profile-image {
    max-width: 300px; 
    width: 100%; 
    border-radius: 10px;
    margin-bottom: 20px; 
  }

  .arrow{
    display: none;
  }

  .about-me-section {
    text-align: center; 
    padding: 10px; 
    font-size: 1rem;
    max-width: 75%;
  }

  .about-heading {
    text-align: center;
  }

  .highlight::before {
    width: 195px;
    right: 3px;
    top: 14px;
  }

  .main-title {
    font-size: 2rem;
    margin-left: 50px;
  }

  .subtitle {
    font-size: 2.5rem; 
    top: -10px;
    left: 89px;
 }
  
  .skills-section {
    flex-direction: column; 
    text-align: center; 
    gap: 20px; 
    padding-left: 65px; 
    padding-right: 65px;
    margin-top: 10px;
  }

  .details-section {
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    gap: 20px;
    padding-left: 65px; 
    padding-right: 65px;
    margin-top: 0px;
  }

  .column {
    width: 100%; 
    margin: 0; 
    padding: 0 10px;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 10px; 
  }

  ul {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  ul li {
    font-size: 1rem; 
    margin-bottom: 10px;
  }
  .work-for .description {
    position: absolute;
    top: 165px;
    right: 65px;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: right;
    width: 250px;
    margin-left:20px;
    margin-bottom: 20px;
 }
.work-for .description span {
  top: 15px;
  left: 40px;
}
.work-for h2 {
  margin-left: 50px;
}
.arrow-icon {
  width: 90px;
}
.clients img {
  flex: 0 1 calc(45% - 1rem);
  max-width: 150px;
}
.card img {
  margin: 15px 50px;
} 
.card_01_img{
  content: url('Image/Social media/Social_media_sahara_small.png');
}
.card_02_img{
  content: url('Image/Social media/Social_media_others_medium.png');
}
.card_03_img{
  content: url('Image/Social media/Social_media_kaya_small.png');
}
.card_04_img{
  content: url('Image/Social media/Ads_medium.png');
}
.client-arrow-icon {
  display: none;
}
.client-description {
  font-family: Georgia, serif;
  position: absolute;
  top: 20px;
  width: 300px;
  left: 57px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.social-media-heading h2 {
  margin-left: 105px;
  text-align: center;
}
.social-media-heading-subtitle {
  font-size: 3rem;
  top: -45px;
  left: 30px;
}
.card_05_img{
  margin-top: 10px;
  content: url('Image/mail_marketing/mail_marketing_small_01.png');
}
.qr-code img{
  width: 100%;
}
.logo-design-subtitle{        
  font-size: 4rem;
  top: -35px;
  left: 75px;
}
.mail-marketing-heading h2 {
  font-size: 4rem;
  text-align: center;
  margin-left: 100px;
}
.mail-marketing-subtitle{        
  font-size: 4rem;
  top: -35px;
  left: 20px;
}
.logo-design-heading h2 {
  font-size: 4rem;
  text-align: center;
  margin-left: 120px;
}
.logo-design-content {
  display: block;
  margin-top: 0px;
}

.logo-section {
  display: block;
}
.logo_img02 img{
  margin-left: 65px;
}
.color-palette {
  margin-bottom: 20px;
  margin-left: 80px;
}
.footer-content h2 {
  font-size: 4rem;
  text-align: center;
  margin-left: 120px;
}
.footer-subtitle {
  font-size: 4rem;
  top: -35px;
  left: 65px;
}
}